/**************************************/
/*   page   */
/**************************************/
* {
  margin: 0;
  padding: 0;
}
#main {
  width: 100%;
}
.content {
  width: 200px;
  margin: auto;
}
.content2 {
  width: 400px;
  margin: auto;
}


#demo {
  width: 200px;
  height: 50px;
  background: #406C99;
  margin-top: 50px;
}
#demo:hover {
  background: #E86666;
}
.popup_wrap_demo {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  z-index: 999;
  color: rgb(255, 255, 255);
  background: rgba(51, 51, 51, 0.701961);
}
.table {
  display: table;
  width:100%;
  height: 100%;
}
.table_cell {
  display: table-cell;
  vertical-align: middle;
}
.popup_demo {
  width: 300px;
  height: 300px;
  background: #57636E;
  margin: auto;
  position: relative;
}
.close_demo {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close_demo button {
  width: 20px;
  height: 20px;
  background: #E86666;
}
.popup_content_demo {
  color: #000;
}
.popup_content_demo p {
  line-height: 50px;
  background: #F39314;
  border-bottom: 2px solid #FFF;
}
.popup_content_demo div {
  text-align: center;
  padding-top: 20px;
  color: #FFF;
}

/*************************************/
/*  demo_full  */
/*************************************/
#demo_full {
  width: 200px;
  height: 50px;
  background: #406C99;
  margin-top: 50px;
}
#demo_full:hover {
  background: #E86666;
}
.popup_wrap_demo_full {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  z-index: 999;
  color: rgb(255, 255, 255);
  background: rgba(51, 51, 51, 0.701961);
}
.popup_demo_full {
  width: 100%;
  height: 100%;
  background: #57636E;
  margin: auto;
  position: relative;
}
.close_demo_full {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close_demo_full button {
  width: 20px;
  height: 20px;
  background: #E86666;
}
.popup_content_demo_full {
  color: #000;
}
.popup_content_demo_full p {
  line-height: 50px;
  background: #F39314;
  border-bottom: 2px solid #FFF;
}
.popup_content_demo_full div {
  text-align: center;
  padding-top: 20px;
  color: #FFF;
}